* {
  box-sizing: border-box;
}

:root {
  --header-bg: #10375c;
}
html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Sora", sans-serif;
}

/* ================= common ================== */
.container {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin: 0 auto;
}

a {
  text-decoration: none;
}

.btn {
  display: inline-block;
  min-width: 205px;
  line-height: 60px;
  border-radius: 30px;
  background: #2e80ce;
  color: #fff;
  text-align: center;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
}

.btn:hover {
  opacity: 0.9;
}

.section-heading {
  color: #10375c;
  font-size: 5rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.2; /* 120% */
  letter-spacing: -1px;
}
.section-desc {
  margin-top: 18px;
  color: #575f66;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 300;
  line-height: 1.67; /* 166.667% */
}

/* control btn */
.control {
  display: flex;
  column-gap: 18px;
  align-items: center;
}

.control__btn {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #575f66;
  background-color: #fff;
  cursor: pointer;
  color: #575f66;
  transition: 0.25s;
}

.control__btn:hover {
  background: #2e80ce;
  border-color: #2e80ce;
  color: #fff;
}

.control-icon--next {
  rotate: 180deg;
}

/* ================= header ================== */
.header {
  background: var(--header-bg);
  min-height: 800px;
}

.header-top {
  padding-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar__list {
  display: flex;
}

.header__action--login,
.navbar__link {
  padding: 8px 21px;
  color: #c9d2da;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 300;
  line-height: 1.75; /* 175% */
}

.navbar__link:hover,
.navbar__link--active {
  text-shadow: 1px 0 0 #fff;
}

.navbar__link--active::before {
  content: " ";
  display: inline-block;
  width: 6px;
  height: 6px;
  position: relative;
  top: -3px;
  right: 8px;
  background-color: #fff;
  border-radius: 50%;
}

.header__action--signup {
  min-width: 104px;
  line-height: 44px;
  font-size: 1.6rem;
  border-radius: 22px;
}

.header__action--login {
  margin-right: 7px;
}

/* ================= hero=================== */
.hero {
  display: flex;
  align-items: center;
  padding-top: 76px;
}

.hero__content {
  width: 45%;
}

.hero__media {
  flex: 1;
}

.hero__heading {
  color: #fff;
  font-size: 7rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.14; /* 114.286% */
  letter-spacing: -1.4px;
}

.hero__desc {
  padding-top: 22px;
  color: #c9d2da;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 300;
  line-height: 1.67; /* 166.667% */
}

.hero__row {
  margin-top: 38px;
  display: flex;
  align-items: center;
  column-gap: 38px;
}

.hero__phone {
  color: #fff;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.67; /* 166.667% */
}

.hero__images {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.hero__img {
  object-fit: cover;
}
.hero__img--large {
  width: 330px;
  height: 540px;
  border-radius: 6px;
  margin-right: -6px;
  z-index: 1;
}

.hero__img--small {
  width: 210px;
  height: 410px;
  border-radius: 0px 6px 6px 0px;
}

/* ==================service================== */
.service {
  padding: 170px 0;
  background-color: #fff;
}

.service__heading,
.service__desc {
  text-align: center;
}

.service__desc {
  width: 468px;
  margin: 18px auto 0px;
}

.service__row {
  margin-top: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.service__img {
  width: 570px;
  height: 570px;
  object-fit: cover;
  border-radius: 12px;
}

.service-item {
  display: flex;
  width: 470px;
  padding: 21px;
  background: #fff;
  border-radius: 10px;
  transition: 0.4s;
}

.service-item:hover {
  position: relative;
  box-shadow: 0px 14px 28px 0px rgba(0, 0, 0, 0.05);
}

.service-item:hover .service-item__icon {
  color: #fff;
  background: #2e80ce;
}

.service-item__icon {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  margin-right: 19px;
  border-radius: 30px;
  background: #eff6fd;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.05);
  transition: 0.4s;
  color: #10375c;
}

.service-item__heading {
  color: #10375c;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.service__desc {
  margin-top: 8px;
  color: #575f66;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 300;
  line-height: 1.75; /* 175% */
}

.service__btn {
  margin-top: 55px;
}

/* ==============work=============== */
.work {
  background: #f6fbff;
  padding: 100px 0;
}
.work__desc {
  width: 468px;
}

.work__list {
  margin-top: 86px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 30px;
}

.work-item {
  padding: 43px;
  border-radius: 4px;
  background-color: #fff;
  border: 16px solid #eaf6ff;
  transition: 0.5s;
}

.work-item:hover {
  border-color: #2e80ce;
  transform: translateY(-16px);
}

.work-item__icon {
  width: 72px;
  height: 72px;
  flex-shrink: 0;
}

.work-item__heading {
  color: #10375c;
  font-size: 2.6rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.4; /* 138.462% */
  margin-top: 18px;
}

.work-item__desc {
  width: 254px;
  margin-top: 28px;
  color: #575f66;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 300;
  line-height: 1.75; /* 175% */
}

.worka-item__more {
  margin-top: 18px;
  color: #2e80ce;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.75; /* 175% */
}

/* ========================about==================== */
.about {
  margin-top: 85px;
  padding: 85px 0 205px;
  background: #fff;
}

.about-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about-left {
  width: 48%;
  margin-right: 130px;
  display: flex;
  justify-content: start;
}

.about-right {
  width: 40%;
}
.about-img {
  border-radius: 6px;
  height: 370px;
  object-fit: cover;
  flex-shrink: 0;
}

.about-img__large {
  width: 512px;
}

.about-img__small {
  position: relative;
  top: 121px;
  left: calc(238px - 512px);
  width: 332px;
}

.about-btn {
  margin-top: 35px;
}
/* ==============team====================== */
.team {
  padding: 85px 0 140px;
}

.team-header {
  text-align: center;
  margin: 0 auto;
}

.team-btn {
  margin-top: 38px;
}

.team__list {
  margin-top: 70px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 34px;
}

.team-item__img {
  max-width: 100%;
  height: 290px;
  flex-shrink: 0;
  object-fit: cover;
  display: block;
}

.team-item__img-bg {
  border-radius: 6px;
  background: #eaf6ff;
  padding-top: 28px;
  overflow: hidden;
}

.team-item:hover .team-item__img-bg,
.team-item:hover .team-item__name {
  transform: scale(1.05);
  transition: 0.25s;
}
.team-item__name {
  margin-top: 12px;
  color: #10375c;
  text-align: center;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.75; /* 175% */
}

.team-item__desc {
  color: #575f66;
  text-align: center;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 300;
  line-height: 1.85; /* 185.714% */
}

.team-control {
  margin-top: 38px;
  justify-content: center;
}
/* =====================cta1======================= */
.cta {
  margin-top: 85px;
  padding: 85px 0;
}
.cta-content {
  position: relative;
  height: 427px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #2e80ce;
  padding: 0 70px;
}

.cta__img {
  position: absolute;
  bottom: 0;
  width: 284px;
  height: 522px;
  flex-shrink: 0;
  object-fit: cover;
}

.cta-right {
  width: 586px;
}

.cta__heading,
.cta__desc {
  color: #fff;
}

.cta-right__down {
  margin-top: 38px;
  display: flex;
  column-gap: 28px;
}
/* =========================blog================== */
.blog {
  padding: 85px 0;
}

.blog-content {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  align-items: center;
  column-gap: 30px;
}

.blog__heading {
  width: 470px;
  color: #10375c;
  font-size: 5rem;
}

.blog__read {
  margin: 28px 0;
  color: #10375c;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.56; /* 155.556% */
  text-decoration-line: underline;
}

.blog-right {
  display: flex;
  column-gap: 30px;
}

.blog-right__item {
  width: 270px;
  height: 375px;
  flex-shrink: 0;
  border-radius: 12px;
  border: 1px solid #e8ebee;
  background: #fff;
}

.blog-right__item--img {
  width: 268px;
  height: 172px;
  flex-shrink: 0;
  object-fit: cover;
  overflow: hidden;
  border-radius: 12px 12px 0 0;
}

.blog-right__item--heading {
  margin: 18px 24px 0 22px;
  color: #10375c;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.62; /* 162.5% */
}

.blog-right__item--desc {
  margin: 10px 22px 0;
  color: #575f66;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 300;
  line-height: 1.7; /* 171.429% */
}

.blog-right__more {
  margin: 10px 0 0 22px;
  color: #10375c;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
}

/* =================footer================ */
footer {
  margin-top: 85px;
  background: #10375c;
}

.footer-content {
  display: grid;
  column-gap: 30px;
  grid-template-columns: 2fr repeat(2, 1fr) 2fr;
  padding-top: 100px;
  border-bottom: 1px solid #406181;
}

.footer__logo {
  width: 336px;
}

.footer__desc,
li {
  margin-bottom: 10px;
  color: #a9b3bb;
  font-family: "Open Sans";
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.85; /* 185.714% */
}

.footer__support1 li:first-child {
  margin-bottom: 20px;
  color: #fff;
  font-family: "Open Sans";
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.75; /* 175% */
}

.footer__support1 li:last-child {
  margin-bottom: 28px;
}

.footer__heading {
  color: #fff;
  font-family: "Open Sans";
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.75; /* 175% */
}

.footer__stay--logo {
  margin: 10px 0 28px;
  column-gap: 10px;
}
.footer__stay--logo-social {
  color: #2e80ce;
  border: none;
}

.footer__desc--subcribe {
  width: 270px;
}

.footer__stay--sub {
  display: flex;
  align-items: center;
}

.footer__stay--input {
  margin-right: 12px;
  width: 212px;
  height: 46px;
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid #406181;
  background: none;
}

.footer__stay--btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 108px;
  height: 46px;
  flex-shrink: 0;
  border-radius: 4px;
  background: #2e80ce;
  color: #fff;
  font-family: "Open Sans";
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.85; /* 185.714% */
}

.footer__desc--end{
  padding: 28px 0 40px;
  text-align: center;
}
